<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<div id="movies">
  <table>
    <tr>
      <th> Title </th>
      <th> Rating </th>
      <th> Release Date </th>
    </tr>
  <% @movies.each do |movie| %>
    <%= render movie %>
    <tr>
      <td> <%= link_to movie.title, movie %> </td>
      <td> movie.rating </td>
      <td> movie.release_date </td>

    </tr>
  <% end %>

  </table>
</div>

<%= link_to "New movie", new_movie_path %>
